{% extends 'BookingBase.html' %}
{% load booking_extras %}
{% load staticfiles %}

{% block title %} Select your slots {% endblock %}
{% block navbutton %}<Button class="special" onClick="$('#slots').submit()">Book Slots</Button> {% endblock %}
{% block contentblock %}
	<h2>Booking</h2>
	<p>Pick your slots from available slots below. Please note that each slot is of 30 mins duration starting from the displayed time.</p>
	<form id="slots" action="{% url 'booking:bookslots' %}" method="POST" onSubmit="return checkSlots('{% url 'booking:bookslots' %}')">
		{% csrf_token %}
		<table>
			<thead>
				<tr>
					{% for d in weekdays %}
						<th>{{d}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for i in hours %}
				<tr>
				<th>{{i}}</th>
				{% for j in days %}
					<td>
						<center>
						<div class="6u$ 12u$(small)">
							<input type="checkbox" id="slot{{i}}{{j}}" name="slot{{i}}{{j}}"
							{% if i|addstr:j in resSlots %} disabled {% endif %}
							>
							<label for="slot{{i}}{{j}}">
							</label>
						</div>
						</center>
					</td>
				{% endfor %}
				</tr>
				{% endfor %}
		</tbody>
		</table>
	</form>
	<div id="errordiv" style="display:none">{{errors}}</div>
	{% endblock %}
